name: WepSIM build 

on:
  push:
    branches: [main]

jobs:
  build-web:
    name: Build WepSIM info
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          submodules: recursive
      - name: Build WepSIM webpages
        env:
          REPO: ${{ github.event.repository.name }}
        run: |
          npm install
          npm run build
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./book/

  deploy-pages:
    name: Deploy WepSIM info to GitHub Pages
    runs-on: ubuntu-latest
    needs: [build-web]
    concurrency:
      group: pages
      cancel-in-progress: false
    permissions:
      pages: write 
      id-token: write 
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
